  <ion-content>

    <!-- Existing content here -->
  
    <ion-app>
      <!-- This one is for the menu inside after clicking on the menu button -->
      <ion-menu  contentId="main-content"> <!-- this shows the physical look of the menu button -->
        <ion-header color="tertiary" >
          <ion-toolbar color="tertiary">
            <ion-title style="font-size: 40px;">Menu Content</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content color="tertiary" style="font-size: 25px;" class="ion-padding" >
          <br>
          <hr>
          <span><ion-icon name="notifications-outline">  </ion-icon>
          <a class="darkgreenText" href="tabs/tab1">  Alert and Notifications</a>
        </span>
        <hr>
        <span>
        <ion-icon name="settings-outline">  </ion-icon>      
          <a class="darkgreenText" href="tabs/tab2">  Settings</a>
        </span>
        <hr>
        <span>
          <ion-icon name="person-outline">  </ion-icon>      
          <a class="darkgreenText" href="tabs/tab3">  Profile</a>
        </span>
        <hr>
        <span>
          <ion-icon name="clipboard-outline"></ion-icon>        
          <a class="darkgreenText" href="tabs/alert-history">  Alert History</a>
        </span>
        <hr>
        <span>
          <ion-icon name="people-outline"></ion-icon>        
          <a class="darkgreenText" href="tabs/community">  Community</a>
        </span>
        <hr>
        <span>
          <ion-icon name="information-circle-outline">  </ion-icon>      
          <a class="darkgreenText" href="tabs/aboutus">  About Us</a>
        </span>
        <hr>
      </ion-content>
      </ion-menu>
      
      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar color="tertiary ">
            <ion-buttons class="large-menu-button" slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title  style="font-size: 2em" class=" text-3xl font-bold align-center font-kalam">Profile</ion-title>
            <ion-buttons slot="end">
              <a [routerLink]="['/tabs/tab3']">
                <ion-avatar class="toppic">
                  <img src="../../assets/images/syamimi gambar faris.jpg">
                </ion-avatar>
              </a>
            </ion-buttons>
          </ion-toolbar>
          <hr>

          <ion-content class="my-background1" [fullscreen]="true">

            <ion-avatar class="Pfp">
              <img src="../../assets/images/syamimi gambar faris.jpg">
            </ion-avatar>

            <ion-card color="tertiary" style="border-radius: 1%;" class="green-border1">

              <div class="header-icon">
                <ion-icon class="icons" name="person-outline"></ion-icon>
                <h1 style="margin-left: 20px;" class="darkgreenText font-bold">   Kaiya</h1>
              </div>

              <div class="header-icon">
                <ion-icon class="icons" name="card-outline"></ion-icon>      
                <h1 style="margin-left: 20px;" class="darkgreenText font-bold">   Izzul Faris Zulkiffli</h1>
              </div>

              <div class="header-icon">
                <ion-icon class="icons" name="calendar-outline"></ion-icon>      
                <h1 style="margin-left: 20px;" class="darkgreenText font-bold">   08-02-2005</h1>
              </div>

              <div class="header-icon">
                <ion-icon class="icons" name="phone-portrait-outline"></ion-icon>      
                <h1 style="margin-left: 20px;" class="darkgreenText font-bold">   +673 823 8020</h1>
              </div>

              <div class="header-icon">
                <ion-icon class="icons" name="mail-outline"></ion-icon>     
                <h1 style="margin-left: 20px;" class="darkgreenText font-bold">   fariszlk&#64;gmail.com</h1>
              </div>

              <div class="header-icon">
                <ion-icon class="icons" name="lock-open-outline"></ion-icon>                
                <h1 style="margin-left: 20px;" class="darkgreenText font-bold">   IzFarisZlk</h1>
                <a href="/tabs/tab3">
                <ion-icon class="icons" style="color: black; margin-left: 20px;" name="eye-off-outline" slot="end"></ion-icon>
              </a>
              </div>

            </ion-card>

</ion-content>
        </ion-header>
       
      </div>
    </ion-app>
  </ion-content>