<!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-content>

    <!-- Existing content here -->

    <ion-app>
      <!-- This one is for the menu inside after clicking on the menu button -->
      <ion-menu  contentId="main-content"> <!-- this shows the physical look of the menu button -->
        <ion-header color="tertiary" >
          <ion-toolbar color="tertiary">
            <ion-title style="font-size: 40px;">Menu Content</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content color="tertiary" style="font-size: 25px;" class="ion-padding" >
          <br>
          <hr>
          <span><ion-icon name="notifications-outline">  </ion-icon>
          <a class="darkgreenText" href="tabs/tab1">  Alert and Notifications</a>
        </span>
        <hr>
        <span>
        <ion-icon name="settings-outline">  </ion-icon>      
          <a class="darkgreenText" href="tabs/tab2">  Settings</a>
        </span>
        <hr>
        <span>
          <ion-icon name="person-outline">  </ion-icon>      
          <a class="darkgreenText" href="tabs/tab3">  Profile</a>
        </span>
        <hr>
        <span>
          <ion-icon name="clipboard-outline"></ion-icon>        
          <a class="darkgreenText" href="tabs/alert-history">  Alert History</a>
        </span>
        <hr>
        <span>
          <ion-icon name="people-outline"></ion-icon>        
          <a class="darkgreenText" href="tabs/community">  Community</a>
        </span>
        <hr>
        <span>
          <ion-icon name="information-circle-outline">  </ion-icon>      
          <a class="darkgreenText" href="tabs/aboutus">  About Us</a>
        </span>
        <hr>
      </ion-content>
      </ion-menu>
        
        <div class="ion-page" id="main-content">
          <ion-header>
            <ion-toolbar color="tertiary ">
              <ion-buttons class="large-menu-button" slot="start">
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
              <ion-title  style="font-size: 2em" class="darkgreenText text-3xl font-bold align-center font-kalam">Alert and Notifications</ion-title>
              <ion-buttons slot="end">
                <a [routerLink]="['/tabs/tab3']">
                  <ion-avatar class="toppic">
                    <img src="../../assets/images/syamimi gambar faris.jpg">
                  </ion-avatar>
                </a>
              </ion-buttons>
            </ion-toolbar>
          <hr>
<!-- this is the background picture of the page -->
          <ion-content class="my-background1" [fullscreen]="true">
            <br>
            
            <!-- monkey card -->
        <ion-card color="tertiary" style="border-radius: 10%;" class="green-border1">
          <ion-card-header>
            <p style="font-size: 35px;" class="darkgreenText align-center font-bold font-italic ">Animals have been
            detected in your area
            </p>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">07:42am</p>
                <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">01/04/2024</p>
                <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">Sensor 1</p>
              </ion-col>
              <ion-col>
                <img style="border-radius: 10%;" class="Alertimg margintop margleft" src="../../assets/images/monkey.jpeg">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
<br>
<br>

<!-- aphid card -->
<ion-card color="tertiary" style="border-radius: 10%;" class="green-border1">
  <ion-card-header>
    <p style="font-size: 35px;" class="darkgreenText align-center font-bold font-italic ">Animals have been
    detected in your area
    </p>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">08:01am</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">31/03/2024</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">Sensor 2</p>
      </ion-col>
      <ion-col>
        <img style="border-radius: 10%;" class="Alertimg margintop margleft" src="../../assets/images/aphids.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<br>
<br>

<!-- caterpillar card -->
<ion-card color="tertiary" style="border-radius: 10%;" class="lightgreenbg green-border1">
  <ion-card-header>
    <p style="font-size: 35px;" class="darkgreenText align-center font-bold font-italic ">Animals have been
    detected in your area
    </p>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">13:13pm</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">31/03/2024</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">Sensor 2</p>
      </ion-col>
      <ion-col>
        <img style="border-radius: 10%;" class="Alertimg margintop margleft" src="../../assets/images/caterpillar.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<br>
<br>

<!-- snailcard -->

<ion-card color="tertiary" style="border-radius: 10%;" class="lightgreenbg green-border1">
  <ion-card-header>
    <p style="font-size: 35px;" class="darkgreenText align-center font-bold font-italic ">Hoho bisai bisai ada binatang woiii
    </p>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">16:30pm</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">30/03/2024</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">Sensor 2</p>
      </ion-col>
      <ion-col>
        <img style="border-radius: 10%;" class="Alertimg margintop margleft" src="../../assets/images/snail.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<br>
<br>

<!-- komodocard -->
<ion-card color="tertiary" style="border-radius: 10%;" class="lightgreenbg green-border1">
  <ion-card-header>
    <p style="font-size: 35px;" class="darkgreenText align-center font-bold font-italic ">Hoho bisai bisai ada binatang woiii
    </p>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">14:15pm</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">01/04/2024</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">Sensor 1</p>
      </ion-col>
      <ion-col>
        <img style="border-radius: 10%;" class="Alertimg margintop margleft" src="../../assets/images/komodo.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<br>
<br>

<!-- mouse card -->
<ion-card color="tertiary" style="border-radius: 10%;" class="lightgreenbg green-border1">
  <ion-card-header>
    <p style="font-size: 35px;" class="darkgreenText align-center font-bold font-italic ">Hoho bisai bisai ada binatang woiii
    </p>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">17:33pm</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">28/03/2024</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">Sensor 3</p>
      </ion-col>
      <ion-col>
        <img style="border-radius: 10%;" class="Alertimg margintop margleft" src="../../assets/images/rat.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<br>
<br>

<!-- bat card -->
<ion-card color="tertiary" style="border-radius: 10%;" class="lightgreenbg green-border1">
  <ion-card-header>
    <p style="font-size: 35px;" class="darkgreenText align-center font-bold font-italic ">Hoho bisai bisai ada binatang woiii
    </p>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">20:36pm</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">26/03/2024</p>
        <p style="text-align: left; font-size: 25px;" class="darkgreenText margleft1 font-bold">Sensor 3</p>
      </ion-col>
      <ion-col>
        <img style="border-radius: 10%;" class="Alertimg margintop margleft" src="../../assets/images/bat.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
      </ion-content>
      </ion-header>
      <ion-content color="tertiary" class="ion-padding"></ion-content>
    </div>
  </ion-app>
  </ion-content>




